Document:[clickhere](https://tinyurl.com/python-day8
)

In [1]:
pwd

'C:\\Users\\M V R NAIDU\\Desktop\\AIandMLwithpython'

In [2]:
#Folder --> 5 files -->unique --> 512 bits
import os
import string
import random
#os.mkdir("python class")
for i in range(1,6):
    file_name = "C:\\Users\\M V R NAIDU\\Desktop\\AIandMLwithpythonf"
    f = open(file_name,"w")
    data = " "
    for i in range(512):
        data = data + random.choice(string.ascii_letters)
    f.write(data)
    f.close

## LIST COMPREHENTION:

In [1]:
#create another list even elements of list1
list1 = list(range(1,11))
list2 = []
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [3]:
#List comprehention
list3 = [i for i in list1 if i%2==0]
print(list3)

[2, 4, 6, 8, 10]

In [5]:
#Accept string as an input and print all the digits and count of the digits
#using list comprehention
#input : "Hello 12345"
#output : ['1','2','3','4','5'],5
string = input("enter a string:")
list4 = [ch for ch in string if ch.isdigit()]
print(list4,len(list4))

enter a string:Hello 12345
['1', '2', '3', '4', '5'] 5

In [9]:
list5 = list(range(1,11))
list6 = list(range(11,21))
print(list5,list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
result = [x+y for x in list5 for y in list6]
result

[12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [12]:
result = [list5[i]+list6[i] for i in range(len(list5))]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [39]:
#zip()
result = [x+y for x,y in zip(list5,list6)]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Anonymous function(lambda functions):
    lambda arguments : logic

In [58]:
s=lambda x : x**2

In [59]:
s(12)

144

In [60]:
add = lambda x,y :x+y
add(10,20)

30

### map()

In [61]:
list6 = list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
#output : [2,4,6,8,10,12,14,16,18,20]
result = [i*2 for i in list6]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [63]:
#map(function_name,iterable object)
result = list(map(lambda i : i*2,list6))
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [64]:
#map(function_name,iterable object)
result = list(map(lambda i : i*2,list6))
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
'10 20 30'.split()

['10', '20', '30']

In [67]:
#Unpacking
x,y,z = list(map(int,input("enter your input:").split()))
print(x,y,z)

enter your input:10 20 30
10 20 30

### filter()

In [68]:
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
result = []
for i in list6:
    if i%5==0:
        result.append(i)
result

[5, 10]

In [87]:
list(filter(lambda x : (x%3==0),list6))

[3, 6, 9]

### Reduce()

In [71]:
from functools import reduce

In [72]:
#Traditional
list1 =[1,2,3,4,5]
#output : 120
m=1
for i in list1:
    m*=i
print(m)

120

In [73]:
reduce(lambda x,y:x*y,list1)
#[1,2,3,4,5] ==> 2,3,4,5 ==> 6,4,5 ==> 24,5 ==> F120

120

In [86]:
list('1234567890')

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']